body {
    font-family: 'Roboto', sans-serif;
    background-image: url('pexels-jane-doan-1024248.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .user-profile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-profile img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
  }
  
  .options {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .options a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  .options a:hover {
    background-color: #0056b3;
  }
  
  .search-form {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-form input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-form button:hover {
    background-color: #0056b3;
  }
  
  .news-section {
    margin-bottom: 20px;
  }
  
  .news {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }
  
  .news h3 {
    font-size: 24px;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .news p {
    font-size: 16px;
    color: #666;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .daily-bulletin img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .countdown-timer {
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  .daily-bulletin {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }

  a {
  background-color: white;
  
    display: block;
    text-align: left;
    margin-top: 1px;
    color: black;
    text-decoration: none;
  }
  
  a:hover {
 
  
    text-decoration: underline;
  }